@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

:root{
    --primary: #a4916d;
    --black:#000;
    --white:#fff;
    --light-black: #666;
    --hover: rgba(244, 244, 244, 0.8);
    --bg: #2f2d2d;
    --border: 0.1rem solid rgba(0, 0, 0, 0.3);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --light-maroon: #b56576; /* Added light maroon color */
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: 5rem;
}

section{
  padding: 5rem 7%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--light-maroon);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.heading span{
  color: var(--primary);
  text-transform: uppercase;
}


.btn:hover{
  background: var(--primary);
  color: var(--white);
}


/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--light-maroon);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .logo i{
  color: var(--primary);
  padding-right: .5rem;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--white);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--white);
  cursor: pointer;
  -webkit-text-stroke: .1rem var(--primary);
}

.header .icons div:hover{
  color: var(--primary);
}

#menu-bar{
  display: none;
}

/* end */

/* home */

.home{
  min-height: 110vh;
  display: flex;
  background: url(../images/Homepagepic.webp) no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.home .content{
  max-width: 60rem;
  padding-top: 8rem;
}

.home .content h3{
  font-size: 7rem;
  color: var(--black);
  line-height: 1.2;
}

.home .content p{
  font-size: 1.5rem;
  padding: 1.3rem 0;
  color: var(--light-black);
  line-height: 2;
}

/* end */

/* banner */

.banner .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 2rem;
}

.banner .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.banner .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner .box-container .box:hover img{
  transform: scale(1.2);
} 

.banner .box-container .box .content{
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0; top: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: var(--hover);
  display: none;
}

.banner .box-container .box .content h3{
  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
}

.banner .box-container .box:hover .content{
  display: flex;
}

/* end */

/* product */

.products {
  background: var(--bg);
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.products .box-container .box {
  background: var(--light-maroon);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  height: 100%;
  border: var(--border);
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.products .box-container .box .image {
  position: relative;
  width: 100%;
  height: 350px; /* You can adjust the height as needed */
  overflow: hidden;
}

.products .box-container .box .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure both images cover the container area */
}

.products .box-container .box .image .rear-img {
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.products .box-container .box:hover .image .rear-img {
  opacity: 1;
  z-index: 0;
}

.products .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
  margin-top: auto;
}

.products .box-container .box .content h3 {
  color: var(--white);
  font-size: 2.2rem;
}

.products .box-container .box .content .price {
  display: inline-block;
  color: var(--white);
  font-size: 2.2rem;
}

/* end */


/* contact */
.contact {
  background: var(--bg);
}

.contact .heading{
  color: var(--light-maroon);
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.contact .row .image{
  flex: 1 1 40rem;
}

.contact .row .image img{
  width: 100%;
  background-color: var(--bg);
}

.contact .row .content {
  flex: 1 1 40rem;
}

.contact .row .content h3 {
  font-size: 3rem;
  color: var(--white);
}

.contact .row .content p {
  font-size: 1.5rem;
  color: var(--white);
  line-height: 2;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-link a {
  font-size: 85px;
  color: var(--primary);
}

.social-link span {
  font-size: 75px;
  color: var(--primary);
}
/* end */

/* footer */

.footer{
  background: var(--bg);
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: var(--light-black);
  padding: 1rem 0;
}

.footer .box-container .box h3 i{
  color: var(--primary);
  padding-right: .5rem;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color: var(--light-black);
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box .share{
  margin-top: 1rem;
}

.footer .box-container .box .link{
  display: block;
  font-size: 1.7rem;
  line-height: 2;
  padding: .5rem 0;
  color: var(--light-black);
}

.footer .box-container .box .link i{
  padding-right: .5rem;
  color: var(--primary);
}

.footer .credit{
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  border-top: var(--border);
  text-align: center;
  color: var(--light-black);
  font-size: 2rem;
}

.footer .credit span{
  color: var(--primary);
}

/* end */

/* media queries */

@media (max-width: 991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem 3rem;
  }

  section{
    padding: 2rem;
  }

}

@media (max-width: 768px){

  #menu-bar{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    font-size:  2rem;
    margin: 2rem;
    display: block;
  }

  .home .content h3{
    font-size: 4.5rem;
  }

}

@media (max-width: 450px){

  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 3.5rem;
  }

}